.bracket {
}

.round {
    height: 20em;
}

.game {
    width: 10em;
    overflow: hidden;

    border-top-width: 0.2em;
    border-top-style: solid;
    border-bottom-width: 0.2em;
    border-bottom-style: solid;
}

.round-main .game {
    border-right-width: 0.2em;
    border-right-style: solid;
}

.round-consolation .game {
    border-left-width: 0.2em;
    border-left-style: solid;
}

.team-names {
    width: 8em;
    overflow: hidden;
    white-space: nowrap;
}

.round-main .team-names {
    float: left;
}

.round-consolation .team-names {
    float: right;
}

.game-id {
    width: 1.5em;
    overflow: hidden;

    color: blue;
}

.round-main .game-id {
    float: right;
    text-align: end;
}

.round-consolation .game-id {
    float: left;
    text-align: start;
}
