<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{admin.createUser}">Create User</title>
</head>
<body>
    <article layout:fragment="content">
        <h1 th:text="#{admin.createUser}">Create User</h1>
        <form th:action="@{/admin/createUser/}" th:object="${user}" method="post">
            <table>
                <tbody>
                <tr>
                    <td><label for="username" th:text="|#{accounts.username}:|">Username:</label></td>
                    <td><input type="text" id="username" th:field="*{username}" /></td>
                </tr>
                <tr th:if="${#fields.hasErrors('username')}">
                    <td colspan="2">
                        <div class="alert alert-danger" th:errors="*{username}">User name Error</div>
                    </td>
                </tr>
                <tr>
                    <td><label for="password" th:text="|#{accounts.password}:|">Password:</label></td>
                    <td><input type="password" id="password" th:field="*{password}" /></td>
                </tr>
                <tr th:if="${#fields.hasErrors('password')}">
                    <td colspan="2">
                        <div class="alert alert-danger" th:errors="*{password}">Password Error</div>
                    </td>
                </tr>
                <tr>
                    <td><label for="confirmPassword" th:text="|#{accounts.confirmPassword}:|">Confirm Password:</label></td>
                    <td><input type="password" id="confirmPassword" th:field="*{confirmPassword}" /></td>
                </tr>
                <tr th:if="${#fields.hasErrors('confirmPassword')}">
                    <td colspan="2">
                        <div class="alert alert-danger" th:errors="*{confirmPassword}">Confirm password Error</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-success" th:text="#{admin.createUser.submit}">Create User</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </article>
</body>
</html>
