<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{teams.name}">Teams</title>
    <link rel="stylesheet" th:href="@{/css/bracket.css}" />
</head>
<body>
    <article layout:fragment="content">
<!--/*/ <th:block th:remove="all"> /*/-->
                <div th:remove="tag" th:fragment="team(team)" th:switch="${team}">
                    <div th:case="null" class="team-name team-unknown" th:text="#{bracket.team.unknown}">unknown</div>
                    <div th:case="${ByeTeam}" class="team-name team-bye" th:text="#{bracket.team.bye}">bye</div>
                    <div th:case="*" class="team-name" th:text="#{bracket.team(${team.id}, ${team.name})}">15-0000 TGM</div>
                </div>
                <div th:fragment="match(aTeam, bTeam)" class="game">
                    <div class="team-a"><div th:replace="this::team(${aTeam})">unknown</div></div>
                    <div class="team-b"><div th:replace="this::team(${bTeam})">unknown</div></div>
                </div>
<!--/*/ </th:block> /*/-->
        <div class="bracket">
            <div class="round phase-0" id="r1">
                <div th:remove="tag" th:each="game : ${tournament.bracketMatches}" th:object="${game}">
                <div th:replace="this::match(*{aTeam}, *{bTeam})"></div>
                </div>
            </div>
        </div>
    </article>
</body>
</html>
