<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{teams.name}">Teams</title>
</head>
<body>
    <article layout:fragment="content">
<!--/*/ <th:block th:remove="all"> /*/-->
                                <div th:remove="tag" th:fragment="team(team)" th:switch="${team}">
                                    <div th:case="null" class="team-name team-unknown" th:text="#{bracket.team.unknown}">unknown</div>
                                    <div th:case="${ByeTeam}" class="team-name team-bye" th:text="#{bracket.team.bye}">bye</div>
                                    <div th:case="*" class="team-name" th:text="#{bracket.team(${team.id}, ${team.name})}">15-0000 TGM</div>
                                </div>
                                <div th:fragment="match(game)" th:object="${game}" class="game">
                                    <div class="team-names">
                                        <div class="team-a"><div th:replace="this::team(*{aTeam})">unknown</div></div>
                                        <div class="team-b"><div th:replace="this::team(*{bTeam})">unknown</div></div>
                                    </div>
                                    <div class="game-id" th:text="*{id + 1}"></div>
                                </div>
<!--/*/ </th:block> /*/-->
        <table class="bracket">
            <tbody>
            <tr>
                <td th:each="round : ${bracket.rounds}" th:object="${round}">
                    <table class="round round-main">
                        <tbody>
                        <tr th:each="game : ${round}" th:object="${game}">
                            <td>
                                <div th:replace="this::match(${#object})"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </article>
</body>
</html>
