<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{teams.name}">Teams</title>
</head>
<body>
    <article layout:fragment="content">
        <table class="table">
            <tbody>
                <tr>
                    <th th:text="#{bracket.id}">Game</th>
                    <th th:text="#{bracket.aTeam}">Team A</th>
                    <th th:text="#{bracket.bTeam}">Team B</th>
                    <th th:text="#{bracket.winner}">Winner</th>
                </tr>
                <tr th:each="game : ${tournament.bracketMatches}" th:object="${game}">
                    <td th:text="*{id + 1}">1</td>
<!--/*/ <th:block th:switch="*{aTeam}"> /*/-->
                    <td th:case="null" class="team-unknown" th:text="#{bracket.team.unknown}">unknown</td>
                    <td th:case="${ByeTeam}" class="team-bye" th:text="#{bracket.team.bye}">bye</td>
                    <td th:case="*" th:text="#{bracket.team(*{aTeam.id}, *{aTeam.name})}">15-0000 TGM</td>
<!--/*/ </th:block> /*/-->
<!--/*/ <th:block th:switch="*{bTeam}"> /*/-->
                    <td th:case="null" class="team-unknown" th:text="#{bracket.team.unknown}">unknown</td>
                    <td th:case="${ByeTeam}" class="team-bye" th:text="#{bracket.team.bye}">bye</td>
                    <td th:case="*" th:text="#{bracket.team(*{bTeam.id}, *{bTeam.name})}">15-0000 TGM</td>
<!--/*/ </th:block> /*/-->
<!--/*/ <th:block th:object="${tournament.bracketResults.getResult(#object)}"> /*/-->
                    <td th:if="${#object == null}" class="team-unknown" th:text="#{bracket.team.unknown}">unknown</td>
    <!--/*/ <th:block th:if="${#object != null}" th:object="${#object.winnerSideA ? game.aTeam : game.bTeam}" th:switch="${#object}"> /*/-->
                    <td th:case="null" class="team-unknown" th:text="#{bracket.team.unknown}">unknown</td>
                    <td th:case="${ByeTeam}" class="team-bye" th:text="#{bracket.team.bye}">bye</td>
                    <td th:case="*" th:text="#{bracket.team(*{id}, *{name})}">15-0000 TGM</td>
    <!--/*/ </th:block> /*/-->
<!--/*/ </th:block> /*/-->
                </tr>
            </tbody>
        </table>
    </article>
</body>
</html>
