<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{bracket.name}">DE</title>
</head>
<body>
    <article layout:fragment="content">
        <table class="table">
            <tbody>
                <tr>
                    <th colspan="2" th:text="#{bracket.id}">Game</th>
                    <th colspan="2" th:text="#{bracket.aTeam}">Team A</th>
                    <th colspan="2" th:text="#{bracket.bTeam}">Team B</th>
                    <th colspan="2" th:text="#{bracket.winner}">Winner</th>
                </tr>
<!--/*/ <th:block th:remove="all"> /*/-->
                <tr th:remove="tag" th:fragment="team(team)" th:object="${team}">
                    <td th:if="*{!defined}" class="team-unknown" th:text="#{bracket.team.unknown}">unknown</td>
                    <td th:if="*{defined and get() == null}" class="team-bye" th:text="#{bracket.team.bye}">bye</td>
                    <td th:if="*{defined and get() != null}" th:object="${team.get()}" th:text="#{bracket.team(*{teamId}, *{name})}">15-0000 TGM</td>
                </tr>
<!--/*/ </th:block> /*/-->
                <tr th:each="game : ${bracket}" th:object="${game}" th:id="|row*{id}|">
                    <td class="button-column">
                        <form th:action="@{/admin/bracket/}" method="post" th:if="*{scorable and !finished}">
                            <input type="hidden" id="gameId" name="gameId" th:value="*{id}" />
                            <input type="hidden" id="item" name="item" th:value="call" />
                            <button type="submit" class="btn btn-info" th:title="#{bracket.btn.call}"></button>
                        </form>
                    </td>
                    <td th:text="*{id + 1}">1</td>
                    <td class="button-column">
                        <form th:action="@{/admin/bracket/}" method="post" th:if="*{scorable}">
                            <input type="hidden" id="gameId" name="gameId" th:value="*{id}" />
                            <input type="hidden" id="item" name="item" th:value="winnerA" />
                            <button type="submit" class="btn btn-success" th:title="#{bracket.btn.winnerA}"></button>
                        </form>
                    </td>
                    <td th:replace="this::team(*{aTeam})">unknown</td>
                    <td class="button-column">
                        <form th:action="@{/admin/bracket/}" method="post" th:if="*{scorable}">
                            <input type="hidden" id="gameId" name="gameId" th:value="*{id}" />
                            <input type="hidden" id="item" name="item" th:value="winnerB" />
                            <button type="submit" class="btn btn-success" th:title="#{bracket.btn.winnerB}"></button>
                        </form>
                    </td>
                    <td th:replace="this::team(*{bTeam})">unknown</td>
                    <td class="button-column">
                        <form th:action="@{/admin/bracket/}" method="post" th:if="*{scorable and finished}">
                            <input type="hidden" id="gameId" name="gameId" th:value="*{id}" />
                            <input type="hidden" id="item" name="item" th:value="unresolve" />
                            <button type="submit" class="btn btn-danger" th:title="#{bracket.btn.clear}"></button>
                        </form>
                    </td>
                    <td th:replace="this::team(*{winner})">unknown</td>
                </tr>
            </tbody>
        </table>
    </article>
</body>
</html>
