<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{teams.name}">Teams</title>
</head>
<body>
    <article layout:fragment="content">
        <table class="table">
            <tbody>
                <tr>
                    <th colspan="2" th:text="#{teams.code}">Team Code</th>
                    <th th:text="#{teams.organization}">Organization/Name</th>
<!--                    <th th:text="#{teams.email}">Contact Email</th> -->
                    <th th:text="#{teams.doc_p(1)}">P1 Doc</th>
                    <th th:text="#{teams.doc_p(2)}">P2 Doc</th>
                    <th th:text="#{teams.doc_p(3)}">P3 Doc</th>
                    <th th:text="#{teams.doc_onsite}">Onsite Doc</th>
                    <th colspan="2" th:text="#{teams.seeding(1)}">S1</th>
                    <th colspan="2" th:text="#{teams.seeding(2)}">S2</th>
                    <th colspan="2" th:text="#{teams.seeding(3)}">S3</th>
                    <th th:text="#{teams.seeding(3)}">S3</th>
                    <th th:text="#{teams.seedingAvg}">Seeding Average</th>
                    <th th:text="#{teams.seedingRank}">Seeding Rank</th>
                </tr>
                <tr th:each="team : ${tournament.teams}" th:object="${team}">
                    <td class="button-column">
                        <form th:action="@{/admin/seeding/}" method="post">
                            <input type="hidden" id="teamId" name="teamId" th:value="*{id}" />
                            <input type="hidden" id="item" name="item" th:value="practiceCall" />
                            <button type="submit" class="btn btn-info" th:title="#{teams.btn.practiceCall}"></button>
                        </form>
                    </td>
                    <td th:text="*{teamId}">15-0000</td>
                    <td th:text="*{name}">TGM</td>
<!--                    <td>schueler@student.tgm.ac.at</td> -->
                    <td>
                        <form th:action="@{/admin/seeding/}" method="post">
                            <input type="hidden" id="teamId" name="teamId" th:value="*{id}" />
                            <input type="hidden" id="item" name="item" th:value="p1doc" />
                            <input type="number" min="0" id="score" name="score" th:value="*{p1doc}" />
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/admin/seeding/}" method="post">
                            <input type="hidden" id="teamId" name="teamId" th:value="*{id}" />
                            <input type="hidden" id="item" name="item" th:value="p2doc" />
                            <input type="number" min="0" id="score" name="score" th:value="*{p2doc}" />
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/admin/seeding/}" method="post">
                            <input type="hidden" id="teamId" name="teamId" th:value="*{id}" />
                            <input type="hidden" id="item" name="item" th:value="p3doc" />
                            <input type="number" min="0" id="score" name="score" th:value="*{p3doc}" />
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/admin/seeding/}" method="post">
                            <input type="hidden" id="teamId" name="teamId" th:value="*{id}" />
                            <input type="hidden" id="item" name="item" th:value="onsite" />
                            <input type="number" min="0" id="score" name="score" th:value="*{onsite}" />
                        </form>
                    </td>
<!--/*/ <th:block th:each="game : *{seedingGames}" th:object="${game}"> /*/-->
                    <td class="button-column">
                        <form th:action="@{/admin/seeding/}" method="post">
                            <input type="hidden" id="teamId" name="teamId" th:value="${team.id}" />
                            <input type="hidden" id="item" name="item" th:value="|s*{round}Call|" />
                            <button type="submit" class="btn btn-info" th:title="#{teams.btn.seedingCall(*{round + 1})}"></button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/admin/seeding/}" method="post">
                            <input type="hidden" id="teamId" name="teamId" th:value="${team.id}" />
                            <input type="hidden" id="item" name="item" th:value="|s*{round}|" />
                            <input type="number" min="0" id="score" name="score" th:value="*{finished ? score : ''}" />
                        </form>
                    </td>
<!--/*/ </th:block> /*/-->
                    <td th:text="*{seedingAvg}">---</td>
                    <td th:text="*{seedingRank + 1}">---</td> 
                </tr>
            </tbody>
        </table>
    </article>
</body>
</html>
