<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{teams.name}">Teams</title>
</head>
<body>
    <article layout:fragment="content">
        <table class="table">
            <tbody>
                <tr>
                    <th th:text="#{teams.code}">Team Code</th>
                    <th th:text="#{teams.organization}">Organization/Name</th>
                    <th th:text="#{teams.seeding(1)}">S1</th>
                    <th th:text="#{teams.seeding(2)}">S2</th>
                    <th th:text="#{teams.seeding(3)}">S3</th>
                    <th th:text="#{teams.seedingRank}">Seeding Rank</th>
                </tr>
                <tr th:each="team : ${tournament.teams}" th:object="${team}">
                    <td th:text="*{teamId}">15-0000</td>
                    <td th:text="*{name}">TGM</td>
                    <td th:each="game : *{seedingGames}" th:object="${game}" th:text="*{finished ? score : '---'}">---</td>
                    <td th:text="*{seedingRank}">---</td> 
                </tr>
            </tbody>
        </table>
    </article>
</body>
</html>
