<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{teams.name}">Teams</title>
</head>
<body>
    <article layout:fragment="content">
        <table class="table">
            <tbody>
                <tr>
                    <th th:text="#{teams.code}">Team Code</th>
                    <th th:text="#{teams.organization}">Organization/Name</th>
<!--                    <th th:text="#{teams.email}">Contact Email</th> -->
                    <th th:text="#{teams.doc_p(1)}">P1 Doc</th>
                    <th th:text="#{teams.doc_p(2)}">P2 Doc</th>
                    <th th:text="#{teams.doc_p(3)}">P3 Doc</th>
                    <th th:text="#{teams.doc_onsite}">Onsite Doc</th>
                    <th th:text="#{teams.seeding(1)}">S1</th>
                    <th th:text="#{teams.seeding(2)}">S2</th>
                    <th th:text="#{teams.seeding(3)}">S3</th>
                    <th th:text="#{teams.seedingAvg}">Seeding Average</th>
                    <th th:text="#{teams.seedingRank}">Seeding Rank</th>
                </tr>
                <tr th:each="team : ${tournament.teams}" th:object="${team}">
                    <td th:text="*{teamId}">15-0000</td>
                    <td th:text="*{name}">TGM</td>
<!--                    <td>schueler@student.tgm.ac.at</td> -->
                    <td>
                        <form th:action="@{/admin/seeding/}" method="post">
                            <input type="hidden" id="teamId" name="teamId" th:value="*{id}" />
                            <input type="hidden" id="phase" name="phase" th:value="p1doc" />
                            <input type="number" min="0" id="score" name="score" th:value="*{p1doc}" />
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/admin/seeding/}" method="post">
                            <input type="hidden" id="teamId" name="teamId" th:value="*{id}" />
                            <input type="hidden" id="phase" name="phase" th:value="p2doc" />
                            <input type="number" min="0" id="score" name="score" th:value="*{p2doc}" />
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/admin/seeding/}" method="post">
                            <input type="hidden" id="teamId" name="teamId" th:value="*{id}" />
                            <input type="hidden" id="phase" name="phase" th:value="p3doc" />
                            <input type="number" min="0" id="score" name="score" th:value="*{p3doc}" />
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/admin/seeding/}" method="post">
                            <input type="hidden" id="teamId" name="teamId" th:value="*{id}" />
                            <input type="hidden" id="phase" name="phase" th:value="onsite" />
                            <input type="number" min="0" id="score" name="score" th:value="*{onsite}" />
                        </form>
                    </td>
                    <td th:each="game : *{seedingGames}" th:object="${game}">
                        <form th:action="@{/admin/seeding/}" method="post">
                            <input type="hidden" id="gameId" name="gameId" th:value="*{id}" />
                            <input type="number" min="0" id="score" name="score" th:value="*{finished ? score : ''}" />
                        </form>
                    </td>
                    <td th:text="*{seedingAvg}">---</td>
                    <td th:text="*{seedingRank}">---</td> 
                </tr>
            </tbody>
        </table>
    </article>
</body>
</html>
