<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{teams.name}">Teams</title>
</head>
<body>
    <article layout:fragment="content">
        <table class="table">
            <tbody>
                <tr>
                    <th th:text="#{teams.code}">Team Code</th>
                    <th th:text="#{teams.organization}">Organization/Name</th>
<!--                    <th th:text="#{teams.email}">Contact Email</th> -->
                    <th th:text="#{teams.doc_p(1)}">P1 Doc</th>
                    <th th:text="#{teams.doc_p(2)}">P2 Doc</th>
                    <th th:text="#{teams.doc_p(3)}">P3 Doc</th>
                    <th th:text="#{teams.doc_onsite}">Onsite Doc</th>
                    <th th:text="#{teams.seeding(1)}">S1</th>
                    <th th:text="#{teams.seeding(2)}">S2</th>
                    <th th:text="#{teams.seeding(3)}">S3</th>
                    <th th:text="#{teams.seedingAvg}">Seeding Average</th>
                    <th th:text="#{teams.seedingRank}">Seeding Rank</th>
                </tr>
                <tr th:each="team : ${tournament.teams}" th:object="${team}">
                    <td th:text="${team.id}">15-0000</td>
                    <td th:text="${team.name}">TGM</td>
<!--                    <td>schueler@student.tgm.ac.at</td> -->
<!--/*/ <th:block th:object="${tournament.documentationResults.ranking[#object]}"> /*/-->
                    <td th:text="*{p1Score}">300</td>
                    <td th:text="*{p2Score}">300</td>
                    <td th:text="*{p3Score}">200</td>
                    <td th:text="*{onsiteScore}">100</td>
<!--/*/ </th:block> /*/-->
<!--/*/ <th:block th:object="${tournament.seedingResults.ranking[#object]}"> /*/-->
                    <td>
                        <form th:action="@{/admin/teams/}" method="post">
                            <input type="hidden" id="team" name="team" th:value="*{team.id}" />
                            <input type="hidden" id="round" name="round" th:value="0" />
                            <input type="number" min="0" id="score" name="score" th:value="*{s1 != -1 ? s1 : ''}" />
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/admin/teams/}" method="post">
                            <input type="hidden" id="team" name="team" th:value="*{team.id}" />
                            <input type="hidden" id="round" name="round" th:value="1" />
                            <input type="number" min="0" id="score" name="score" th:value="*{s2 != -1 ? s2 : ''}" />
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/admin/teams/}" method="post">
                            <input type="hidden" id="team" name="team" th:value="*{team.id}" />
                            <input type="hidden" id="round" name="round" th:value="2" />
                            <input type="number" min="0" id="score" name="score" th:value="*{s3 != -1 ? s3 : ''}" />
                        </form>
                    </td>
                    <td th:text="*{avg}">---</td>
                    <td th:text="*{rank + 1}">---</td>
<!--/*/ </th:block> /*/-->
                </tr>
            </tbody>
        </table>
    </article>
</body>
</html>
