<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{upcoming.name}">Upcoming games</title>
</head>
<body>
    <article layout:fragment="content">
        <table class="table">
            <tbody>
                <tr>
                    <th th:text="#{upcoming.table}">Table</th>
                    <th colspan="3" th:text="#{upcoming.status}">Status</th>
                    <th th:text="#{upcoming.slot}">Slot Description</th>
                </tr>
                <tr th:each="slot : ${upcoming}" th:object="${slot}"
                    th:class="#{upcoming.status.__*{state}__.class}" th:id="|row*{id}|">
                    <td>
                        <form th:action="@{/admin/}" method="post">
                            <input type="hidden" id="slotId" name="slotId" th:value="*{id}" />
                            <input type="hidden" id="item" name="item" th:value="table" />
                            <select id="table" name="table" onchange="this.form.submit()">
                                <option value="0" th:text="---">---</option>
                                <option th:each="table : ${tables}"
                                    th:selected="${slot.table != null and slot.table.id == table.id}"
                                    th:value="${table.id}" th:text="${table.description}">Table 1</option>
                            </select>
                        </form>
                    </td>
                    <td class="button-column">
                        <form th:action="@{/admin/}" method="post">
                            <input type="hidden" id="slotId" name="slotId" th:value="*{id}" />
                            <input type="hidden" id="item" name="item" th:value="next" />
                            <button type="submit" class="btn btn-info" th:title="#{upcoming.btn.next(#{upcoming.status.__*{state + 1}__})}"></button>
                        </form>
                    </td>
                    <td class="button-column">
                        <form th:action="@{/admin/}" method="post">
                            <input type="hidden" id="slotId" name="slotId" th:value="*{id}" />
                            <input type="hidden" id="item" name="item" th:value="cancel" />
                            <button type="submit" class="btn btn-danger" th:title="#{upcoming.btn.cancel}"></button>
                        </form>
                    </td>
                    <td th:text="#{upcoming.status.__*{state}__}">Table 1</td>
                    <td th:text="*{description}">Open practice for team 15-0000 TGM</td>
                </tr>
            </tbody>
        </table>
    </article>
</body>
</html>
