<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{accounts.forgotPassword}">Forgot Password</title>
</head>
<body>
<article layout:fragment="content">
    <h1 th:text="#{accounts.forgotPassword}">Forgot Password</h1>
        <form th:action="@{/forgotPassword/}" th:object="${user}" method="post">
            <table>
                <tbody>
                <tr>
                    <td><label for="username" th:text="|#{accounts.username}:|">Username:</label></td>
                    <td><input type="text" id="username" th:field="*{username}" /></td>
                </tr>
                <tr th:if="${#fields.hasErrors('username')}">
                    <td colspan="2">
                        <div class="alert alert-danger" th:errors="*{username}">User name Error</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-success" th:text="#{accounts.forgotPassword.submit}">Reset password</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </article>
</body>
</html>
