<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="${#authentication.name}">Username</title>
</head>
<body>
    <article layout:fragment="content">
        <h1 th:text="#{user.greet(${#authentication.name})}">Hello, Username</h1>
        <form action="#" th:action="@{/user/greeting/}" th:object="${greeting}" method="post">
            <table>
                <tbody>
                    <tr>
                        <td>Message:</td>
                        <td><input type="text" th:field="*{content}" /></td>
                    </tr>
                    <tr th:if="${#fields.hasErrors('content')}">
                        <td colspan="2">
                            <div class="alert alert-danger" th:errors="*{content}">Message Error</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </article>
</body>
</html>
