<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Index</title>
</head>
<body>
    <article layout:fragment="content">
        <h1>Index</h1>
        <ul th:unless="${#lists.isEmpty(greetings)}">
            <li th:each="greeting : ${greetings}" th:text="|${greeting.id}: ${greeting.content}|">0: sample greeting</li>
        </ul>
        <p><a th:href="@{/user/greeting/}">Add a greeting</a></p>
    </article>
</body>
</html>
